<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MyFinance</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" ></script>
  </head>

    <div id="message">{{message}}</div>

    <form class="form-horizontal" method="POST" action="">
        <fieldset>

        <!-- Form Name -->
        <legend>Purchase Data Importer</legend>

        <!-- File Button --> 
        <div class="control-group">
        <label class="control-label" for="purchase_file">Purchase file</label>
        <div class="controls">
            <input id="purchase_file" name="purchase_file" class="input-file" type="file">
        </div>
        </div>

        <!-- Button -->
        <div class="control-group">
        <label class="control-label" for="import_button"></label>
        <div class="controls">
            <button id="import_button" name="import_button" class="btn btn-primary" type="submit">Import</button>
        </div>
        </div>

        </fieldset>
    </form>
</html>
